.strategies {
  margin-bottom: 3em;
}

.strategies label {
  display: inline-block;
  width: 350px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 8px;
  border: solid 3px #454545;
  user-select: none;
  cursor: pointer;
}

.strategies input[type="radio"] {
  display: none;
}

.strategies input[type="radio"]:checked + label {
  border-color: white;
  color: white;
}

.strategies input[type="radio"]:disabled + label {
  border-color: #454545;
  color: #454545;
  cursor: not-allowed;
  display: none;
}

.method {
  margin-bottom: 3em;
}

.method details {
  margin-top: 1em;
}

#methods {
  margin-bottom: 3em;
}

.cache {
  margin-bottom: 3em;
}
