html {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}

body {
  height: 100%;
  margin-top: 55px;
  align-items: center;
  text-align: center;
  display: flex;
  overflow: hidden;
}

iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  border-color: transparent;
  position: relative;
}
